// @import
// @use
// @forward

.main-container {
  display: flex;
  margin: 1rem;
  font-family: 'Inter';
}

.main-container__part {
  width: 50%;
}

.hidden {
  opacity: 0;
}

button:hover {
  cursor: pointer;
}

.gallows-container{
  position: relative;
}

.bodypart {
  position: absolute;
  top: 0;
  left: 0;
}

// [keyboard]
#word {
  font-weight: bold;
}

.key {
  width: 55px;
  height: 55px;
  margin: 2px;
  background-color: #5455ac;
  border-radius: 5px;
  color: white;
}

.key.correct {
  background-color: #28a745;
  color: white;
}

.key.incorrect {
  background-color: tomato;
  color: white;
}

#status {
  margin-top: 20px;
  font-size: 20px;
}

#keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 35rem;
}

// some
.noscroll {
  overflow: hidden;
}

.title {
  text-align: center;
}

.wrongGuessesCount {
  color: tomato;
}

@media screen and (max-width: 1380px) {
  #keyboard {
    width: 20rem;
  }

  .key {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .bodypart {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }

  #gallows-svg {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }
}

@media screen and (max-width: 630px) {
  .main-container {
    flex-direction: column;
  }
}

// @media screen and (max-width: 380px) {
//   .main-container {
//     flex-direction: column;
//   }
// }
